
nav a {
    font-size: 18px;
}

nav a img{
    margin-right: 8px;    
}

body nav:first-child{
    border-bottom: 2px solid #999;
}

nav div{
    margin-left: 15px;
}
nav div ul li{
    border: 1px solid transparent;
    border-radius: 5px;
}

nav div  ul li a:after{
    content:"";
    display: block;
    border-bottom: 2px solid transparent;
}

nav div ul li:hover a:after {
    content: "";
    display: block;
    width: min(70%,30px);
    border-bottom: 2px solid blue;
}

.nav-css{
    background-color: rgb(252, 208, 228);
}

.nav-link{
    padding: 0;
}

.loginButton{
    border:2px solid #777;
    color:#777;
}

.registerButton{
    border:2px solid #777;
    color:#777;
}